<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"> </head>

<body>
    <nav th:replace="layouts :: navbar"></nav>
    <div>
        <center>
                <form th:action="@{/projects/create}" th:object="${project}" method="POST">

                    <P><input type="text" placeholder="Project Name" th:field="*{name}"></P>


                    <select th:field="${project.stage}">
                        <option th:value="NOTSTARTED"> Not Started</option>
                        <option th:value="INPROGRESS"> In Progress</option>
                        <option th:value="COMPLETED"> Completed</option>
                    </select>

                    <p>
                    <div>
                        <textarea type="text" placeholder="Enter Project Description"
                            th:field="${project.Description}"></textarea>
                    </div>
                    </p>
                    <select th:field="*{emps}" multiple="multiple">
                        <option th:each="employee : ${emps}" th:value="${employee.ID}" th:text="${employee.firstName}">
                        </option>
                    </select>
                    <center>
                    Project Start Date:
                    <div>
                        <input id="dp3" type="text" class="mb-4 col-2 col-xs-4" value="Start Date"
                            th:field="${project.startDate}" >
                    </div>


                    Project End Date:
                    <div>
                        <input id="dp4" type="text" class="mb-4 col-2 col-xs-4" value="End Date"
                            th:field="${project.endDate}">
                    </div>

                    
                    </center>
                    <script type="text/javascript">
                        $('#dp3').datepicker();
                        $('#dp4').datepicker();
                    </script>
                    <P><input type="submit" /></P>
                </form>
        </center>
    </div>
</body>

</html>