<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layouts :: header"> </head>
    <body>
        <nav th:replace="layouts :: navbar"></nav>
        <center><h4> Employee Details </h4>
            <center>
        <div style="width: 1000px;">
        <eTable th:replace="layouts :: eTable"></eTable>
        </center>
    </div>

        <center>
            <h4> Project Details </h4></center>
            <div style="width: 1000px;">
                <pTable th:replace="layouts :: pTable"></pTable>
            </div>
        </center>
        
    </body>
</html> 